:root- {

}
    --branco-principal: #FFFFFF;
    --cinza-scundario: #cococo;
    --botao-azul: #167BF7;
     --cor-do-fundo: #03
    { 

    }
[ 
    margin: 0;
    padding: 0;
]
{

  backgroud-color: var:{cor-de-fundo};
   color: var{-branco-principal};
      
}

.conteiner{
    height: 100vh;

}
.principal{  
 background-image:url("Background.png");
  background-repeat: no-repeat;
   background-size:contain;
}